.icon-btn {
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
}

.icon-btn:hover,
.icon-btn:active {
  border: 1px solid black;
  border-radius: 3px;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
